html,body {
  
   background-color: white;
   height: 100%;
   color: white;
   font: 14px/2.0 Arial,helvetica,sans-serif;
   text-align: center; 
 }
h2{
  font: 30px/3.0 Arial Black,sans-serif;
  padding:10px;
}
h3{
  font: 36px/3.0 Arial Black;
  padding:30px;
}
a{
  color:#4f7098;
}

 }
.logo{
  background-color: white;
  margin-top: 30px;
}
.logo img{
  max-width: 100%;
} 
nav{
  position: relative;
    width: 100%;
}
ul{
  position: relative;
  background-color: white;
  width: 100%;
  margin: 0;
  padding:0;
}
ul li{
  list-style: none;
  display: inline-block;
  padding:20px;
}
ul li a{
  color: #4f7098;
  text-decoration: none;
}
ul li a.active,
ul li a:hover{
 color:#1f2229; 
}
.toggle{
  width: 100%;
  padding: 20px;
  text-align: left;
  box-sizing: border-box;
  color: black;
  font-size: 30px;
  display: none;
  }
  .toggle span{
    cursor: pointer;
  }
  @media(max-width: 600px){
  .toggle{
  display: block;
  }
  
  nav ul{
  width: 100%;
  display: none;
  }
  nav ul li{
  display: block;
  text-align: center;
  }
}
.active{
  display: block;
}



.wrapper{
   background-color: #1f2229;
   width: 80%;
   margin: 0 auto 0 auto;
   position: relative;
}
.reslides{
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width:100%;
  box-sizing:border-box;
  }

.rslides li first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  width: 100%;
 }
 

#menu{
   color: white;
   background: #8e8f93;
    }
    .reservationimg,.contactimg{
      width:200px;
    }
#contact{
      max-width: 1200px;
      box-sizing: border-box;
      margin-left:auto;
      margin-right: auto;
      padding:1em;
    }
.map{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

 @media(min-width: 600px){
  body{
  font: 18px/2.0 Arial,helvetica,sans-serif;
 }
  .box1{
    width:33%;
    float:left;
  }
  .box2{
    width:33%;
    padding-left:6px;
   float:left;
  }
  .box3{
    width:33%;
    float:right;
  }

  .reservationimg,.contactimg{
    width:400px;
    padding-top: 40px;
  }
  .reservations{
    float: left;
    width:50%;
  }
  .info{
    float:right;
    width:50%;
  }
  #contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
 
    .sea {
  width: 100%;
  height: 600px;
  background-color:  #1f2229;
  background-image: linear-gradient(
     #1f2229,
    rgba(255, 255, 255, 0) ,
    rgba(255, 255, 255, 0.5));
  position: relative;
  overflow: hidden;
}

.sea .title {
  color: white;
  font-size: 24px;
  font-family: serif;
  text-align: center;
  line-height: 250px;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  position: absolute;
  z-index: 1;
  width: 100%;
}
.sea .wave {
  position: absolute;
  top: -250px;
  left: -250px;
  width: 700px;
  height: 500px;
  background: #4f7098;
  border-radius: 43%;
  filter: opacity(0.4);
  animation: drift linear infinite;
  transform-origin: 50% 48%;
}

.sea .wave:nth-of-type(1) {
  animation-duration: 5s;
}

.sea .wave:nth-of-type(2) {
  animation-duration: 7s;
}

.sea .wave:nth-of-type(3) {
  animation-duration: 9s;
  background-color: #1f2229;
  filter: opacity(0.1);
}
 

@keyframes drift {
  from {
    transform: rotate(360deg);
  }
}
.icons{
  background-color: white;
  color:#4f7098;

}
 .icons a{
    color:#4f7098;
    text-decoration: none;
    }
    .icons a:hover{
      color:#1f2229;
    }
     @media(max-width: 600px){
      .icons ul img{
        width:28px;
     }
    }

 
    
    
  
 /**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
 

